@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@keyframes fadeInAndMoveDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

body {
    background-color: #2362CC;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
}

.container h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.todoInput {
    background-color: white;
    max-width: 500px;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.todoInput input {
    height: 100%;
    border: none;
    outline: none;
    width: 90%;
}

.todoInput #btn-add {
    border: none;
    background-color: none;
    cursor: pointer;
}

.todoInput #btn-add i {
    font-size: 35px;
    background-color: white;
    color: #2362CC;
}

.todoInput #btn-add:active {
    transform: scale(0.95);
}

.todoResult {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
    max-width: 500px;
    width: 90%;
    gap: 5px;

    max-height: 0;
    transition: max-height 0.25s;
}

.todoResult li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-weight: 700;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;

    transition: opacity 0.2s ease-out;
    animation: fadeInAndMoveDown 0.25s ease-out;
}

.todoResult .taskDate {
    border: none;
    background-color: #2362CC;
    color: white;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color-scheme: dark;
}

.todoResult li .btn-remove {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;

    transition: opacity 0.2s;
}

.todoResult li .btn-remove:hover {
    opacity: 0.7;
}

.todoResult .task .check {
    width: 65%;
    display: flex;
    gap: 5px;
}

.todoResult .task .buttons {
    display: flex;
    gap: 5px;
}

.todoResult .task .check p {
    width: 100%;
    max-width: 295px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taskChecked {
    text-decoration: line-through;
    font-style: italic;
}